.help-contacts {
  div{
    margin-bottom: 1rem;
  }
  span{
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right:3px;
    text-align: center;
    color:#008cd8;
  }
  .icon-mail {
    font-size: .8rem;
  }
}