// athletes colors
$red: #ff4f51;
$medium-red: #ff8082;
$light-red: #ffc7c7;
$light-red-bg: #ff6062;

// coaches colors
$blue: #008cd8;
$medium-blue: #49ACE2;
$light-blue: #acd8ff;
$light-blue-bg: #1997db;

// organisations color
$purple: #6d3f9f;
$light-purple-bg: #9b7abe;

$green: #7ed321;
// $gray-border: #7F8FA4;
$gray-border: #BDC5D0;
$perf-light-yellow: #ffc100;
$perf-dark-yellow: #ff9f00;

// $light-text: #7F8FA4;
$light-text: #5C6B7F;
$dark-text: #003059;
$body-font-color: $light-text;
$light-gray: #f2f3f6;

$redDarken: 25%;
$blueDarken: 15%;
$purpleDarken: 15%;

$ghostColor: #aeaeae;//light grey for placeholders on inline coach assessments so far